# Exceptions defined in this file will be excluded from the VS Code extension package and final VSIX file.
.vscode/**
.vscode-test/**
tests/**
**/*.map
.gitignore
tsconfig.json
*.code-workspace
*lint.json
src/
node_modules/
out/
images/
.*/**